<nav class="navbar navbar-expand-lg luxury-nav">
  <div class="container">
    <a class="navbar-brand" href="/dashboard/">Tiktaktuk</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavOrg"
      aria-controls="navbarNavOrg"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavOrg">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/artists/list/">Artists</a></li>
        <li class="nav-item"><a class="nav-link" href="/orders/">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Venues</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profil</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
